{% extends 'base.html' %}

{% block title %} <title>Libra</title> {% endblock %}

{% block body %}

	<center><h1>Welcome to Aggregator !</h1></center>

	<!-- <form method="get" action="/search/">
		<input type="text" name="search" placeholder="Search here"><br>
		<input type="submit" name="submit"></center>
	</form> -->

	<nav>
	    	<div class="nav-wrapper">
	      		<form id="searchbar" action="/search/" method="get">
	        		<div class="input-field col l8 s8 push-s2">
	          			<input type="search" class="center-align" placeholder="What are we looking for today??" name="search" required>
	          			<label for="search"><i class="material-icons">search</i><input style="visibility:hidden" type="submit" value="Search" name="submit"></label>
	          			<i class="material-icons">close</i>
	        		</div>
	      		</form>
	    	</div>
	</nav>

{% endblock %}